# PyCharm
.idea/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Ignore the database
instance/
*.db

# Ignore secrets (if config.py has sensitive info)
config.py

