{% extends 'frontend/main.html' %}


{% block header %}
    {% include 'frontend/layouts/header.html' %}
{% endblock %}

{% block cart %}
 {% include 'frontend/layouts/cart.html' %}
{% endblock %}

{% block search %}
    {% include 'frontend/layouts/search.html' %}
{% endblock %}

{% block categories %}
    {% include 'frontend/layouts/category.html' %}
{% endblock %}

{% block main %}
    {% include 'frontend/layouts/main.html' %}
{% endblock %}

{% block modal %}
    {% include 'frontend/layouts/modal.html' %}
{% endblock %}

{% block description %}
    {% include 'frontend/layouts/description.html' %}
{% endblock %}

